@tailwind base;
@tailwind components;
@tailwind utilities;
.glass {
  background: rgba(27, 27, 27, 0.2);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
}
.mobileMenu {
  height: calc(100% - 63px);
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 40px;
}

.color {
  background: linear-gradient(to left, #700b97, #df8bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@layer base {
  .bg-slider-gradient {
    background: linear-gradient(
      126.6deg,
      rgba(255, 255, 255, 0.12) 28.69%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
@layer base {
  .bg-searchBox-gradient {
    background: linear-gradient(
      216.6deg,
      rgba(111, 11, 151, 0.212) 40.69%,
      rgba(255, 255, 255, 0.07) 100%
    );
  }
}

.number {
  background: linear-gradient(to bottom, #6f0b97af, #e39bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer base {
  .circle {
    background: rgba(154, 16, 209, 0.52);
    background: -moz-linear-gradient(
      top,
      rgba(154, 16, 209, 0.52) 0%,
      rgba(154, 16, 209, 0.51) 0%,
      rgba(154, 16, 209, 0.13) 42%,
      rgba(155, 140, 222, 0.05) 50%,
      rgba(255, 255, 255, 0.04) 52%,
      rgba(234, 234, 234, 0) 56%,
      rgba(0, 0, 0, 0.69) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(155, 140, 222, 0.05)),
      color-stop(0%, rgba(155, 140, 222, 0.05)),
      color-stop(42%, rgba(154, 16, 209, 0.13)),
      color-stop(50%, rgba(155, 140, 222, 0.05)),
      color-stop(52%, rgba(255, 255, 255, 0.04)),
      color-stop(56%, rgba(234, 234, 234, 0)),
      color-stop(100%, rgba(0, 0, 0, 0.69))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(155, 140, 222, 0.05) 0%,
      rgba(154, 16, 209, 0.51) 0%,
      rgba(154, 16, 209, 0.13) 42%,
      rgba(155, 140, 222, 0.05) 50%,
      rgba(255, 255, 255, 0.04) 52%,
      rgba(234, 234, 234, 0) 56%,
      rgba(0, 0, 0, 0.69) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(154, 16, 209, 0.52) 0%,
      rgba(154, 16, 209, 0.51) 0%,
      rgba(154, 16, 209, 0.13) 42%,
      rgba(155, 140, 222, 0.05) 50%,
      rgba(255, 255, 255, 0.04) 52%,
      rgba(234, 234, 234, 0) 56%,
      rgba(0, 0, 0, 0.69) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(154, 16, 209, 0.52) 0%,
      rgba(154, 16, 209, 0.51) 0%,
      rgba(154, 16, 209, 0.13) 42%,
      rgba(155, 140, 222, 0.05) 50%,
      rgba(255, 255, 255, 0.04) 52%,
      rgba(234, 234, 234, 0) 56%,
      rgba(0, 0, 0, 0.69) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(155, 140, 222, 0.05) 0%,
      rgba(155, 140, 222, 0.05) 0%,
      rgba(154, 16, 209, 0.13) 42%,
      rgba(155, 140, 222, 0.05) 50%,
      rgba(255, 255, 255, 0.04) 52%,
      rgba(234, 234, 234, 0) 56%,
      rgba(0, 0, 0, 0.69) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a10d1', endColorstr='#000000', GradientType=0 );
  }
  .darkMode {
    background: rgba(154, 16, 209, 0.52);
    background: -moz-linear-gradient(
      -45deg,
      rgba(154, 16, 209, 0.3) 0%,
      rgba(154, 16, 209, 0.283) 0%,
      rgba(154, 16, 209, 0.13) 42%,
      rgba(155, 140, 222, 0.05) 50%,
      rgba(255, 255, 255, 0.04) 52%,
      rgba(234, 234, 234, 0) 56%,
      rgba(0, 0, 0, 0.69) 100%
    );
    background: -webkit-gradient(
      left top,
      right bottom,
      color-stop(0%, rgba(154, 16, 209, 0.192)),
      color-stop(0%, rgba(154, 16, 209, 0.51)),
      color-stop(42%, rgba(154, 16, 209, 0.13)),
      color-stop(50%, rgba(155, 140, 222, 0.05)),
      color-stop(52%, rgba(255, 255, 255, 0.04)),
      color-stop(56%, rgba(234, 234, 234, 0)),
      color-stop(100%, rgba(0, 0, 0, 0.69))
    );
    background: -webkit-linear-gradient(
      -45deg,
      rgba(154, 16, 209, 0.313) 0%,
      rgba(154, 16, 209, 0.396) 0%,
      rgba(154, 16, 209, 0.13) 42%,
      rgba(155, 140, 222, 0.05) 50%,
      rgba(255, 255, 255, 0.04) 52%,
      rgba(234, 234, 234, 0) 56%,
      rgba(0, 0, 0, 0.69) 100%
    );
    background: -o-linear-gradient(
      -45deg,
      rgba(154, 16, 209, 0.394) 0%,
      rgba(154, 16, 209, 0.419) 0%,
      rgba(154, 16, 209, 0.13) 42%,
      rgba(155, 140, 222, 0.05) 50%,
      rgba(255, 255, 255, 0.04) 52%,
      rgba(234, 234, 234, 0) 56%,
      rgba(0, 0, 0, 0.69) 100%
    );
    background: -ms-linear-gradient(
      -45deg,
      rgba(154, 16, 209, 0.442) 0%,
      rgba(154, 16, 209, 0.51) 0%,
      rgba(154, 16, 209, 0.13) 42%,
      rgba(155, 140, 222, 0.05) 50%,
      rgba(255, 255, 255, 0.04) 52%,
      rgba(234, 234, 234, 0) 56%,
      rgba(0, 0, 0, 0.69) 100%
    );
    background: linear-gradient(
      135deg,
      rgba(154, 16, 209, 0.52) 0%,
      rgba(154, 16, 209, 0.334) 0%,
      rgba(154, 16, 209, 0.13) 42%,
      rgba(155, 140, 222, 0.05) 50%,
      rgba(255, 255, 255, 0.04) 52%,
      rgba(234, 234, 234, 0) 56%,
      rgba(0, 0, 0, 0.69) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a10d1', endColorstr='#000000', GradientType=1 );
  }
  .gradient {
    background: rgba(168, 70, 207, 0.541);
    background: -moz-linear-gradient(-45deg, rgba(165, 52, 209, 0.37) 0%, rgba(0,0,0,0.07) 98%, rgba(235,233,249,0.05) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(111, 11, 151, 0.589)), color-stop(98%, rgba(0,0,0,0.07)), color-stop(100%, rgba(235,233,249,0.05)));
    background: -webkit-linear-gradient(-45deg, rgba(174, 76, 212, 0.301) 0%, rgba(0,0,0,0.07) 98%, rgba(235,233,249,0.05) 100%);
    background: -o-linear-gradient(-45deg, rgba(111, 11, 151, 0.5) 0%, rgba(0,0,0,0.07) 98%, rgba(235,233,249,0.05) 100%);
    background: -ms-linear-gradient(-45deg, rgba(111, 11, 151, 0.425) 0%, rgba(0,0,0,0.07) 98%, rgba(235,233,249,0.05) 100%);
    background: linear-gradient(135deg, rgba(111, 11, 151, 0.411) 0%, rgba(0,0,0,0.07) 98%, rgba(235,233,249,0.05) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#700b97', endColorstr='#ebe9f9', GradientType=1 );
  }
}
body{
  background-color: #F9FAFA;
}
.leaflet-container{
  width: 588px;
  height: 305px;
}